apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
  namespace: local-dev
  labels:
    app: user-service
    environment: local
spec:
  replicas: 1
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
        environment: local
    spec:
      containers:
        - name: user-service
          # REPLACE THIS with your actual image: e.g., docker.io/username/user-service:latest
          image: docker.io/victor147/user-service:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "test" # Use the test profile to use H2 database
          resources:
            requests:
              memory: "512Mi"
              cpu: "250m"
            limits:
              memory: "1Gi"
              cpu: "500m"
