apiVersion: v1
kind: Service
metadata:
  name: user-service
  namespace: local-dev
spec:
  type: NodePort
  selector:
    app: user-service
  ports:
    - port: 80
      targetPort: 8080
      nodePort: 30080
      protocol: TCP